html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #fff; 
}


.page-bg {
    flex: 1 0 auto;
    min-height: 1px;
}


.site-content {
    padding-top: 22px;
    padding-bottom: 22px;
}


.footer {
    flex: 0 0 auto;
    padding: 18px 0;
    background: transparent;
    border-top: 0;
    color: rgba(15, 23, 42, .65);
}

    .footer a {
        color: inherit;
    }

        .footer a:hover {
            color: #0f172a;
            text-decoration: underline;
        }


body {
    margin-bottom: 0;
}
