@{
    ViewData["Title"] = "401";
}

<div class="container py-5">
    <h1>401 - Не сте влезли</h1>
    <p>Трябва да влезете в профила си, за да видите количката.</p>

    <a class="btn btn-primary"
       asp-area="Identity"
       asp-page="/Account/Login">
        Вход
    </a>
</div>
