@{
    ViewData["Title"] = "Catalog";
}
<h1 class="h4">Catalog</h1>
<p>Coming soon…</p>

<h2>CREATE</h2>
<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="CreateBrand">
   +Create Brand
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="CreateBrandModelsSeries">
    +Create BrandModelSeries
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="CreateBrandModels">
    +Create BrandModels
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="CreateCategories">
    +Create Categories
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="CreateSubCategory">
    +Create SubCategory
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="CreateProduct">
    +Create Product
</a>


<h2>MANAGE</h2>
<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="ManageBrands">
    -Manage Brands
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="ManageBrandModelSeries">
    -Manage BrandModelSeries
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="ManageBrandModels">
    -Manage BrandModels
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="ManageCategories">
    -Manage Categories
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="ManageSubCategories">
    -Manage SubCategories
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="ManageProducts">
    -Manage Products
</a>