@{
    ViewData["Title"] = "Catalog";
}
<h1 class="h4">Catalog</h1>
<p>Coming soon…</p>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="CreateBrand">
   +Create Brand
</a>

<a class="btn btn-primary"
   asp-area="Admin" asp-controller="Catalog" asp-action="ManageBrands">
    -Manage Brands
</a>