@using GrandLineAuto.Areas.Admin.Views.Models
@model ProductManufacturerVM

@{
    ViewData["Title"] = "Edit ProductManufacturer";
}

<div class="edit-container">
    <h1 class="edit-title">Edit ProductManufacturer</h1>

    <div class="edit-card">

        <!-- Preview -->
        <div class="edit-image">
           
                <div class="brand-fallback">No image</div>
            
        </div>

        <form asp-action="EditProductManufacturerConfirmed" method="post" class="edit-form">
            @Html.AntiForgeryToken()

            <!-- IMPORTANT -->
            <input type="hidden" name="id" value="@Model.Id" />

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="edit-actions">
                <button type="submit" class="btn-save">
                    Save Changes
                </button>

                <a asp-action="Index" class="btn-cancel">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
